<!--
 This element is responsible for displaying the therapeutic area.
-->
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../app-route/app-location.html">


<link rel="import" href="bio-result-card.html">
<link rel="import" href="bio-pubmed-search-behavior.html">

<dom-module id="bio-search-detail">
	<template>
		<style>
			:host {
				display: block;
			}

			.page-detail{
				@apply(--layout-vertical);
				padding-left: 5px;
				padding-right: 5px;
			}

			.button-tray{
				@apply(--layout-horizontal);
				@apply(--layout-center);
			}

			.form{
				@apply(--layout-flex);
				
				padding-left: 5px;
				padding-right: 5px;
			}
			.result-tray{
				@apply(--layout-vertical);
			}
		</style>

		<app-location route="{{route}}"></app-location>
	    <app-route
	        route="{{route}}"
	        pattern="/:page/:id/:projectId"
	        data="{{routeData}}"
	        tail="{{subroute}}"></app-route>



		<div class="page-detail">
					
			<paper-input label="Name" value="{{model.name}}" focus></paper-input>
			<paper-textarea label="Search Terms" value="{{model.terms}}"></paper-textarea>
			<paper-checkbox checked="{{model.review}}">Review Articles Only</paper-checkbox>

			<p/>
			<paper-button raised on-tap="_handleSearch">Search</paper-button>
		
			<div class="result-tray">
				<template is="dom-repeat" items="[[results]]" as="result">
					<asp-result-card model="[[result]]"></asp-result-card>
				</template>
			</div>

		</div>
	</template>
	<script>
		Polymer({
			is: 'asp-search-detail',
			behaviors: [BioPubMedSearchBehavior],

			_handleSearch: function(){
				this.handleSearch(this.model);
			},

			_handleAddResult: function(e){

			},

			attached: function(){
				this.listen(this, 'result-added', '_handleAddResult');
			},

			detached: function(){
				this.unlisten(this, 'result-added', '_handleAddResult');
			}


		});
	</script>
</dom-module>