
<link rel="import" href="bio-search-card.html">

<dom-module id="bio-search-tray">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }

      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
    </style>

      <template is="dom-repeat" items="{{model}}" as="search">
        <bio-search-card class="card" project="{{project}}" model="{{search}}"></bio-search-card>
      </template>

  </template>

  <script>

    Polymer({

      is: 'bio-search-tray',
      behaviors: [BioPageBehavior],

      properties:{

        /** The project object. */
        project:{
          type: Object,
          value: null
        }
      },


      _handleCardSelected: function(e){
        window.location = "/search/" + e.detail.model.searchId
      },


      attached: function(){
        this.listen(this, 'card-selected', '_handleCardSelected');
       
      },

      detached: function(){
        this.unlisten(this, 'card-selected', '_handleCardSelected');
        
      }

    });

  </script>

</dom-module>
