<!--
  This component is responsible for rendering a document.
-->
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-card/paper-card.html">

<link rel="import" href="bio-card-behavior.html">
<link rel="import" href="bio-search-icons.html">

<dom-module id="bio-result-card">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card{
        margin-bottom: 5px;
        width: 100%;

        --paper-card-header-text:{
          color: rgba(15, 73, 169, 0.77);
          font-size: 18px;
        };

        --paper-card-content:{
          font-size: 15px;
          color: #909090;
        };
      }

      iron-icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        color: #909090;
        margin-right: 10px;
      }

      .card-actions{
        @apply(--layout-horizontal);
      }
      .source{
        @apply(--layout-flex);
        text-align: right;
        color: #909090;
      }
      
    </style>
    <paper-card heading="[[model.title]]" >
      <div class="card-content">
       <div>[[model.authors]]</div>
       <div class="source">[[model.source]]</div>
      </div>
      <div class="card-actions">
        <iron-icon icon="search:add" on-tap="handleCardAdded"></iron-icon>
        <iron-icon icon="search:launch" on-tap="handleCardLaunched"></iron-icon>
        <div class="source">[[model.pubdate]]</div>
      </div>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: 'bio-result-card',
      behaviors: [BioCardBehavior],
      properties:{

        /** The project object. */
        project:{
          type: Object,
          value: null
        },

        doctypeIcon:{
          type: String,
          value: ''
        }
      },

      handleCardAdded: function(e){
        this.fire(this, 'result-added', {model: this.model});
      },

      handleLaunch: function(e){
        window.open("https://www.ncbi.nlm.nih.gov/pubmed/" + this.model.pmid);
      }
    });
  </script>
</dom-module>
