<link rel="import" href="../polymer/polymer.html">

<!--
`bio-search`
A package of elements to help with searches and search results

@demo demo/index.html 
-->

<dom-module id="bio-search">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'bio-search',

      properties: {
        prop1: {
          type: String,
          value: 'bio-search',
        },
      },

    });
  </script>
</dom-module>
