<!--
  This component is responsible for rendering a document.
-->
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-card/paper-card.html">

<link rel="import" href="bio-card-behavior.html">

<dom-module id="bio-search-card">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card{
        margin-bottom: 5px;
        width: 100%;

        --paper-card-header-text:{
          color: rgba(15, 73, 169, 0.77);
          font-size: 18px;
        };

        --paper-card-content:{
          font-size: 15px;
          color: #909090;
        };
      }

      iron-icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        color: #909090;
        margin-right: 10px;
      }
      .review{
        font-size: 15px;
        color: #909090;
        @apply(--layout-flex);
        text-align: right;
      }
      .card-actions{
        @apply(--layout-horizontal);
      }
    </style>
    <paper-card heading="[[model.name]]" >
      <div class="card-content">
          [[model.terms]]      
      </div>
      <div class="card-actions">
        <iron-icon icon="search:arrow-forward" on-tap="handleCardSelected"></iron-icon>
        <iron-icon icon="search:launch" on-tap="handleLaunch"></iron-icon>
        <template is="dom-if" if="[[model.review]]">
        <div class="review">[review]</div>
        </template>
      </div>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: 'bio-search-card',
      behaviors:[BioCardBehavior]

			

    });
  </script>
</dom-module>
